SoapService/src/main/webapp/wsdl/personservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PersonService" targetNamespace="http://silentium.ua" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://silentium.ua" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://silentium.ua" schemaLocation="personservice_schema3.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="deletePersonResponse">
    <wsdl:part name="parameters" element="tns:deletePersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkPerson">
    <wsdl:part name="parameters" element="tns:checkPerson">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePerson">
    <wsdl:part name="parameters" element="tns:deletePerson">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPersonResponse">
    <wsdl:part name="parameters" element="tns:addPersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPerson">
    <wsdl:part name="parameters" element="tns:getPerson">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePersonResponse">
    <wsdl:part name="parameters" element="tns:updatePersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPersonResponse">
    <wsdl:part name="parameters" element="tns:getPersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkPersonResponse">
    <wsdl:part name="parameters" element="tns:checkPersonResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPerson">
    <wsdl:part name="parameters" element="tns:addPerson">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePerson">
    <wsdl:part name="parameters" element="tns:updatePerson">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonWebServiceSEI">
    <wsdl:operation name="checkPerson">
      <wsdl:input name="checkPerson" message="tns:checkPerson">
    </wsdl:input>
      <wsdl:output name="checkPersonResponse" message="tns:checkPersonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePerson">
      <wsdl:input name="deletePerson" message="tns:deletePerson">
    </wsdl:input>
      <wsdl:output name="deletePersonResponse" message="tns:deletePersonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerson">
      <wsdl:input name="getPerson" message="tns:getPerson">
    </wsdl:input>
      <wsdl:output name="getPersonResponse" message="tns:getPersonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPerson">
      <wsdl:input name="addPerson" message="tns:addPerson">
    </wsdl:input>
      <wsdl:output name="addPersonResponse" message="tns:addPersonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePerson">
      <wsdl:input name="updatePerson" message="tns:updatePerson">
    </wsdl:input>
      <wsdl:output name="updatePersonResponse" message="tns:updatePersonResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonServiceSoapBinding" type="tns:PersonWebServiceSEI">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="checkPerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="checkPerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deletePerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletePersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addPerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePerson">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updatePerson">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatePersonResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="PersonServicePort" binding="tns:PersonServiceSoapBinding">
      <soap:address location="http://localhost:9090/PersonServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
